.container{
    margin: auto;
    margin-top: 10px;
    max-width: 800px;
    border: 5px solid rgba(211, 98, 6, 0.658) ;
}

.add-button {
    float: right;
}

.in {
    display: inline-block;
}

.errorMessege{
    color:#FF0000;
}

.indent {
    text-indent: 5%;
  }