<app-navbar></app-navbar>
<div *ngIf="portfolio != undefined">
<app-user-info [belongsTo]="portfolio['belongsTo']"></app-user-info>
<app-about-me  (addAboutMe)="updateAboutMe($event)"   [inputAboutMe] = "portfolio['aboutMe']"></app-about-me>
<app-education (addEducation)="updateEducation($event)" [inputEducation] = "portfolio['education']"></app-education>
<app-industry-equivalency (addindustryEq)="updateIndustryEq($event)" [inputIndustryEquivalency]="portfolio['industryEquivalency']"></app-industry-equivalency>
<div class="container">
    <div>
        <mat-card-title class="in">Skills</mat-card-title>
        <mat-icon class="remove-button" type="button" value="Remove project" (click)="removeSkill()" aria-hidden="false" aria-label="remove button">remove</mat-icon>
        <mat-icon class="add-button" type="button" value="Add project" (click)="addSkill()" aria-hidden="false" aria-label="add button">add</mat-icon>
    </div>
    <div class="skillMatrix" *ngFor="let item of skills, let i=index">
        <app-skills [skillNumber]="i"></app-skills>
    </div>
</div>
<app-projects (updateProject)="updateProject($event)" [inputProject]="portfolio['projects']"></app-projects>

<div class="d-flex justify-content-center">
    <button type="button" (click)="submitPortfolio()" class="btn btn-secondary" routerLink="/user-home">Submit</button>
</div>
</div>