/* .card-header {
    background-color: rgba(177, 91, 11, 0.438);
}

.card{
    text-align:center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  } */

  body {
    margin: 0;
    padding: 0;
    background-color: #FFFF;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .rev-color{
      color: black;
  }
  .btn-login {
      background-color: #F26925;
  }
  .align-button {
    padding-left: 40%;
  }
.image-logo {
  width: 25%;
  height: 25%;
  margin-bottom: 2%;
}